{% extends 'base.html' %}

{% block content %}
<h2 class="subtitle is-2">Registrar Libro</h2>
<form method="post">
    <div class="field">
        <label for="id">ID:</label>
        <div class="control">
            <input type="number" id="id" name="id" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="autor">Autor:</label>
        <div class="control">
            <input type="text" id="autor" name="autor" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="titulo">Título:</label>
        <div class="control">
            <input type="text" id="titulo" name="titulo" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="edicion">Edición:</label>
        <div class="control">
            <input type="text" id="edicion" name="edicion" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="disponibilidad">Disponibilidad:</label>
        <div class="control">
            <input type="text" id="disponibilidad" name="disponibilidad" required class="input">
        </div>
    </div>
    <input type="submit" value="Registrar" class="button is-primary">
</form>
{% endblock %}
